@charset "UTF-8";
@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.ttf") format("truetype"), url("../fonts/socialico-webfont.woff") format("woff"), url("../fonts/socialico-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.price__btn, .btn {
  display: inline-block;
  text-decoration: none;
  background: #fff;
  color: #445161;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  padding: 1.4rem 4.8rem;
  cursor: pointer;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  border-radius: 5px;
}
.price__btn:hover, .btn:hover {
  background: #cccccc;
}
.price__btn:focus, .btn:focus {
  outline: none;
}

.input, .textarea {
  font-size: 1.6rem;
  background: #fff;
  color: #445162;
  padding: 1.4rem 1rem;
  line-height: 1;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
}

.textarea {
  height: 13rem;
  resize: none;
  font-family: inherit;
}

.h1 {
  font-size: 4rem;
  color: #445161;
  font-family: Arial, sans-serif;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-weight: 500;
  margin-bottom: 1.8rem;
}
@media screen and (min-width:768px) {
  .h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
}

.h2 {
  color: #445161;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 2rem;
  font-weight: 500;
}

.h3 {
  color: #445161;
  font-size: 2.4rem;
  text-align: left;
  font-weight: 500;
}

.p {
  color: #333333;
  font-size: 14px;
}

.lead {
  color: #fff;
  font-size: 2rem;
  line-height: 1.8;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
}
@media screen and (min-width:768px) {
  .lead {
    font-size: 1.7rem;
  }
}

.feature {
  color: #333333;
  font-size: 16px;
  padding-left: 4.1rem;
  width: 100%;
  position: relative;
}
.feature::before {
  content: url(../images/plus.png);
  transform: scale(0.5);
  position: absolute;
  top: -15px;
  left: -5px;
}
.feature__text {
  color: #333333;
  font-size: 14px;
}

.screenshot {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:768px) {
  .screenshot {
    flex-direction: row;
    justify-content: space-between;
  }
}
.screenshot__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  background: #445161;
  width: 100%;
  height: 15rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width:768px) {
  .screenshot__image {
    flex-shrink: 0;
    width: 20rem;
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}
.screenshot__heading {
  color: #445161;
  font-size: 2.4rem;
  text-align: left;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.screenshot__description {
  color: #333333;
  font-size: 16px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width:768px) {
  .review {
    flex-direction: row;
    justify-content: space-between;
  }
}
.review__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  background: #445161;
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
  object-position: center center;
  background: #445161;
  border-radius: 50%;
  margin-bottom: 2.7rem;
}
@media screen and (min-width:768px) {
  .review__image {
    margin-right: 2.7rem;
    margin-bottom: 0;
    flex-shrink: 0;
  }
}
.review__text {
  position: relative;
  color: #333333;
  font-size: 14px;
  background: #e5e5e5;
  padding: 1.6rem 2rem 1.2rem 1.5rem;
  border-radius: 1.5rem;
}
.review__text::before {
  content: "";
  background: #e5e5e5;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  position: absolute;
  top: -1rem;
  left: calc(50% - 1rem);
}
@media screen and (min-width:768px) {
  .review__text::before {
    top: 2.8rem;
    left: -1rem;
  }
}
.review__text-item {
  font-style: italic;
  margin-bottom: 0.8rem;
}
.review__text-author {
  color: #445162;
  font-weight: bold;
  opacity: 0.3;
}

.price {
  background: #445161;
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
  padding: 1.6rem 0.2rem 2rem;
}
.price__title {
  color: #445161;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1.7rem;
  line-height: 1;
}
.price__sum {
  width: 100%;
  height: 7.1rem;
  background: #fff;
  color: #445161;
  font-size: 4rem;
  text-align: center;
  padding: 1.8rem 0;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.price__sum::before {
  content: "$";
}
.price__features {
  color: #333333;
  font-size: 17px;
  color: #fff;
  line-height: 1.71;
  padding-left: 3.3rem;
  padding-right: 3.6rem;
  margin-bottom: 1.5rem;
}
.price__btn {
  margin: 0 1.8rem;
  display: block;
}

.social__icon {
  font-family: "Socialico";
  font-size: 6rem;
  text-decoration: none;
  letter-spacing: 3px;
  color: #fff;
}
.social__icon:hover {
  color: #cccccc;
}

.container {
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
}

.stage {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #445161;
}
.stage__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:768px) {
  .stage__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.stage__title {
  font-size: 4rem;
  color: #fff;
  font-family: Arial, sans-serif;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-weight: 500;
  margin-bottom: 1.8rem;
}
@media screen and (min-width:768px) {
  .stage__title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
}
.stage__list {
  color: #fff;
  font-size: 2rem;
  line-height: 1.8;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  padding-left: 0;
}
@media screen and (min-width:768px) {
  .stage__list {
    font-size: 1.7rem;
  }
}
.stage__list-item {
  list-style: none;
}
.stage__list-item::before {
  content: "✓";
  margin-right: 5px;
}
.stage__image {
  order: -1;
  width: 100%;
  height: 21.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  background: #fff;
  margin-bottom: 2rem;
}
@media screen and (min-width:768px) {
  .stage__image {
    max-width: 300px;
    margin-bottom: 0;
    order: 1;
  }
}
@media screen and (min-width:1024px) {
  .stage__image {
    max-width: 469px;
  }
}

.about {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #fff;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:768px) {
  .about__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.about__title {
  color: #445161;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 2rem;
  font-weight: 500;
}
.about__description {
  color: #333333;
  font-size: 16px;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.about__description:last-child {
  margin-bottom: 0;
}
.about__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  background: #445161;
  height: 24.5rem;
  width: 100%;
  margin-top: 1.5rem;
  flex-shrink: 0;
}
@media screen and (min-width:768px) {
  .about__image {
    order: -1;
    width: 300px;
    margin-top: 0;
    margin-right: 2.5rem;
  }
}
@media screen and (min-width:1024px) {
  .about__image {
    width: 43rem;
  }
}

.features {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #e5e5e5;
}
.features__title {
  color: #445161;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
  font-weight: normal;
}
.features__items {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:768px) {
  .features__items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.features .feature {
  margin-bottom: 1.5rem;
}
.features .feature:last-child {
  margin-bottom: 0;
}
@media screen and (min-width:768px) {
  .features .feature {
    flex-basis: calc(50% - 1.1rem);
  }
}

.screenshots {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.screenshots__title {
  color: #445161;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}
.screenshots__item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:1024px) {
  .screenshots__item {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem 1.5rem;
  }
}
.screenshots .screenshot {
  margin-bottom: 2.5rem;
}
.screenshots .screenshot:last-child {
  margin-bottom: 0;
}
@media screen and (min-width:1024px) {
  .screenshots .screenshot {
    flex-basis: calc(50% - 0.8rem);
    margin-bottom: 0;
  }
}

.reviews {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.reviews__title {
  color: #445161;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}
.reviews__item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:768px) {
  .reviews__item {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem 1.5rem;
  }
}
.reviews .review {
  margin-bottom: 2.5rem;
}
.reviews .review:last-child {
  margin-bottom: 0;
}
@media screen and (min-width:1024px) {
  .reviews .review {
    flex-basis: calc(50% - 2rem);
    margin-bottom: 0;
  }
}

.prices {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.prices__title {
  color: #445161;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}
.prices__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 3rem 1rem;
  align-items: flex-end;
  justify-content: space-around;
}

.footer__title {
  color: #445161;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
  color: #fff;
  font-weight: 500;
}
.footer .contacts {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #445161;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:768px) {
  .footer__item {
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }
}
.footer__form {
  margin-bottom: 3rem;
}
@media screen and (min-width:768px) {
  .footer__form {
    flex-basis: 40rem;
    margin-bottom: 0;
  }
}
.footer__form .input, .footer__form .textarea {
  margin-bottom: 2.1rem;
}
.footer__form .btn {
  width: 100%;
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
}
.footer__links .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: #333333;
  font-size: 18px;
  color: #fff;
  margin-bottom: 1.8rem;
}
.footer__social {
  text-align: center;
}
.footer .copyright {
  text-align: center;
  background: #e5e5e5;
  color: #445162;
  color: #333333;
  font-size: 12px;
  padding: 1rem 0 0.5rem;
}