@font-face {
	font-family: "Socialico";
	src: url("../fonts/Socialico.ttf") format('truetype'),
	url("../fonts/socialico-webfont.woff") format('woff'),
	url('../fonts/socialico-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}