*, *::before, *::after{
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body{
	font-family: $mainfont;
}
h1, h2, h3{
	line-height: 1.2;
	font-family: $mainfont;
}
a{
	text-decoration: none;
}
